<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.s0nerik.reduxdroid.navigation">
    <application>
        <provider
            android:authorities="${applicationId}.reduxdroid.navigation-module"
            android:name="com.github.s0nerik.reduxdroid.navigation.Module"
            />
    </application>
</manifest>
